<%- contentFor('body') %>
<div class="grid grid-cols-12 gap-5 mb-5">
  <div class="col-span-12 lg:col-span-8 border dark:border-gray-800 rounded">
    <div class="relative">
      <div class="aspect-video relative">
        <img src="<%= news.imageUrl %>" alt="<%= news.title %>" class="aspect-video w-full" />
        <div
          class="hidden sm:block absolute z-30 inset-x-8 h-[130px] bottom-0 rounded-t"
          style="
            background: linear-gradient(
              to bottom,
              rgba(17, 24, 39, 0.85),
              rgba(17, 24, 39, 0.85)
            );
          "
        ></div>
        <span
          class="absolute top-1 left-1 px-3 py-2 sm:py-1 text-sm rounded text-white shadow"
          style="background-color: <%= news.Category.color %>"
          ><a href="/categories/<%= news.Category.slug%>"><%= news.Category.name %></a></span
        >
      </div>
      <div
        class="sm:mt-[-130px] z-50 relative sm:mx-8 bg-white dark:bg-transparent"
      >
        <div class="p-2 sm:p-6 sm:pt-3 mt-3 sm:mt-0">
          <h1 class="font-bold text-3xl mt-3 leading-8 sm:leading-7">
            <%= news.title %>
          </h1>
          <% if (news.Tags.length > 0) { %>
          <div class="flex flex-nowrap text-sm space-x-2 mt-3 overflow-x-auto">
            <% news.Tags.map(tag => { %>
            <span class="px-2 rounded border flex-none"><a href="/tags/<%= tag.slug %>"><%= tag.name %></a></span>
            <% }) %>
          </div>
          <% } %>
          <div class="py-3"><%= news.excerpt %></div>
          <div class="text-gray-500 dark:text-gray-200 py-2">
            <div class="flex space-x-2 items-center text-sm">
              <i class="fa-solid fa-user"></i>
              <p><%= news.User.name %></p>
            </div>
            <div class="flex space-x-2 items-center text-sm mt-1">
              <i class="fa-solid fa-clock"></i>
              <p><%= _.moment(news.createdAt, 'MMM D, YYYY') %></p>
            </div>
          </div>
          <div class="space-y-2 text-lg">
            <div
              class="ck-blurred editor w-100 ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-read-only"
              id="editor"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p id="body" class="hidden"><%= news.body %></p>
  <div class="col-span-12 mt-10 lg:mt-0 lg:col-span-4">
    <div class="sticky top-10 border dark:border-gray-700 p-2">
      <h3 class="font-semibold text-xl">Noticias relacionadas</h3>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 divide-y md:divide-y-0 lg:divide-y md:gap-4 lg:gap-0 dark:divide-gray-700"
      >
        <% relatedNews.map(news => { %>
        <a href="/news/<%= news.slug %>" class="grid grid-cols-12 gap-x-2 py-4">
          <div class="col-span-3">
            <img
              src="<%= news.imageUrl %>"
              alt="<%= news.title %>"
              class="w-full"
              style="aspect-ratio: 16/9"
            />
          </div>
          <div class="col-span-9 mt-[-8px]">
            <span class="text-gray-400 text-sm font-medium">
              <%= _.moment(news.createdAt, 'MMM D, YYYY') %>
            </span>
            <p class="text-sm font-semibold leading-4"><%= news.title %></p>
          </div>
        </a>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<div class="pb-4"></div>
<%- include('../../partials/newsList.html', {category: {name: 'Ultimas noticias', News: _lastNews}}) %>

<%- contentFor('styles') %>
<link rel="stylesheet" href="/css/ckeditor.css" />
<style>
  .ck-blurred.editor.w-100.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-read-only {
    padding: 0;
  }

  .todo-list {
    padding-left: 25px;
  }
  .ck.ck-widget__selection-handle {
    display: none !important;
  }

  #editor > * {
    margin-top: 20px;
  }

  #editor ol {
    list-style-type: decimal !important;
    margin: auto !important;
    padding: 0;
    padding-left: 20px;
  }
  #editor ul {
    list-style-type: square !important;
    margin: auto !important;
    padding: 0;
    padding-left: 20px;
  }

  #editor h2 {
    font-size: 1.8em;
    font-weight: bolder;
  }
  #editor h3 {
    font-size: 1.5em;
    font-weight: bolder;
  }
  #editor h4 {
    font-size: 1.15em;
    font-weight: bolder;
  }

  td {
    -webkit-user-modify: unset !important;
  }
  .ck.ck-reset_all.ck-widget__type-around {
    display: none !important;
  }
</style>
<%- contentFor('scripts') %>
<script>
  document.getElementById("editor").innerHTML =
    document.getElementById("body").innerText;

  const codes = document.querySelectorAll("#editor code");
  codes.forEach((code) => {
    code.parentNode.innerHTML = code.innerText;
  });
</script>
<script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>
<script async src="//www.instagram.com/embed.js"></script>
<!-- <script src="/panel/js/ckeditor.js"></script>
<script>
  DecoupledDocumentEditor.create(document.querySelector("#editor"))
    .then((editor) => {
      editor.enableReadOnlyMode("#editor");
    })
    .catch((error) => {
      console.log(error);
    });
</script> -->
