<%- contentFor('body') %>
<input type="hidden" id="news" value="<%= news.id %>">
<input type="hidden" id="user" value="<%= _user ? _user.id : '' %>">
<% if (_.can(_user, 'editar todas las noticias') || (news.UserId == _user.id && _.can(_user, 'editar mis noticias'))) { %>
<a href="/panel/news/<%= news.slug %>/edit" class="fixed z-40 bottom-5 right-5 shadow w-10 h-10 rounded-full border"><i class="fa-solid fa-pen absolute" style="top: 50%; left:50%; transform: translate(-50%, -50%)"></i></a>
<% } %>
<div class="grid grid-cols-12 gap-5 mb-5">
  <div class="col-span-12 lg:col-span-8 border dark:border-gray-800 rounded">
    <div class="relative">
      <div class="aspect-video relative">
        <img src="<%= news.imageUrl %>" alt="<%= news.title %>" class="aspect-video w-full" />
        <div
          class="hidden sm:block absolute z-30 inset-x-8 h-[130px] bottom-0 rounded-t"
          style="
            background: linear-gradient(
              to bottom,
              rgba(17, 24, 39, 0.85),
              rgba(17, 24, 39, 0.85)
            );
          "
        ></div>
        <span
          class="absolute top-1 left-1 px-3 py-2 sm:py-1 text-sm rounded text-white shadow"
          style="background-color: <%= news.Category.color %>"
          ><a href="/categories/<%= news.Category.slug%>"><%= news.Category.name %></a></span
        >
        <button id="btnSave" class="absolute w-10 h-10 bg-white dark:bg-gray-900 rounded-full top-1 right-1">
          <i class="<%= isSaved ? 'fa-solid' : 'fa-regular' %> fa-heart absolute text-lg" style="top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
        </button>
        
      </div>
      <div
        class="sm:mt-[-130px] z-30 relative sm:mx-8 bg-white dark:bg-transparent"
      >
        <div class="p-2 sm:p-6 sm:pt-3 mt-3 sm:mt-0">
          <h1 class="font-bold text-3xl mt-3 leading-8 sm:leading-7">
            <%= news.title %>
          </h1>
          <% if (news.Tags.length > 0) { %>
          <div class="flex flex-nowrap text-sm space-x-2 mt-3 overflow-x-auto">
            <% news.Tags.map(tag => { %>
            <span class="px-2 rounded border flex-none"><a href="/tags/<%= tag.slug %>"><%= tag.name %></a></span>
            <% }) %>
          </div>
          <% } %>
          <div class="py-3"><%= news.excerpt %></div>
          <div class="text-gray-500 dark:text-gray-200 py-2">
            <div class="flex space-x-2 items-center text-sm">
              <i class="fa-solid fa-user"></i>
              <p><%= news.User.name %></p>
            </div>
            <div class="flex space-x-2 items-center text-sm mt-1">
              <i class="fa-solid fa-clock"></i>
              <p><%= _.moment(news.createdAt, 'MMM D, YYYY') %></p>
            </div>
          </div>
          <div class="space-y-2 text-lg">
            <div
              class="ck-blurred editor w-100 ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-read-only"
              id="editor"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p id="body" class="hidden"><%= news.body %></p>
  <div class="col-span-12 mt-10 lg:mt-0 lg:col-span-4">
    <div class="sticky top-10 border dark:border-gray-700 p-2">
      <h3 class="font-semibold text-xl">Noticias relacionadas</h3>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 divide-y md:divide-y-0 lg:divide-y md:gap-4 lg:gap-0 dark:divide-gray-700"
      >
        <% relatedNews.map(news => { %>
        <a href="/news/<%= news.slug %>" class="grid grid-cols-12 gap-x-2 py-4">
          <div class="col-span-3">
            <img
              src="<%= news.imageUrl %>"
              alt="<%= news.title %>"
              class="w-full"
              style="aspect-ratio: 16/9"
            />
          </div>
          <div class="col-span-9 mt-[-8px]">
            <span class="text-gray-400 text-sm font-medium">
              <%= _.moment(news.createdAt, 'MMM D, YYYY') %>
            </span>
            <p class="text-sm font-semibold leading-4"><%= news.title %></p>
          </div>
        </a>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<div id="alert-login" class="hidden fixed bottom-2 right-2 p-4 mb-4 border border-red-300 rounded-lg bg-red-50 dark:bg-red-200 z-40" role="alert">
  <div class="flex items-center">
    <svg aria-hidden="true" class="w-5 h-5 mr-2 text-red-900 dark:text-red-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
    <span class="sr-only">Info</span>
    <h3 class="text-lg font-medium text-red-900 dark:text-red-800">No has iniciado sesion</h3>
  </div>
  <div class="mt-2 mb-4 text-sm text-red-900 dark:text-red-800">
    Para poder guardar noticias tienes que estar logueado en la aplicacion.
  </div>
  <div class="flex justify-end">
    <a href="/auth/login<%= _.getPathname(_current_url) %>" class="text-white bg-red-900 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center dark:bg-red-800 dark:hover:bg-red-900">
      Iniciar sesion
      <i class="fa-solid fa-arrow-right ml-2"></i>
    </a>
  </div>
</div>

<div class="pb-4"></div>
<%- include('../../partials/newsList.html', {category: {name: 'Ultimas noticias', News: _lastNews}}) %>




<%- contentFor('styles') %>
<link rel="stylesheet" href="/css/ckeditor.css" />
<style>
  .ck-blurred.editor.w-100.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-read-only {
    padding: 0;
  }

  .todo-list {
    padding-left: 25px;
  }
  .ck.ck-widget__selection-handle {
    display: none !important;
  }

  #editor > * {
    margin-top: 20px;
  }

  #editor ol {
    list-style-type: decimal !important;
    margin: auto !important;
    padding: 0;
    padding-left: 20px;
  }
  #editor ul {
    list-style-type: square !important;
    margin: auto !important;
    padding: 0;
    padding-left: 20px;
  }

  #editor h2 {
    font-size: 1.8em;
    font-weight: bolder;
  }
  #editor h3 {
    font-size: 1.5em;
    font-weight: bolder;
  }
  #editor h4 {
    font-size: 1.15em;
    font-weight: bolder;
  }

  td {
    -webkit-user-modify: unset !important;
  }
  .ck.ck-reset_all.ck-widget__type-around {
    display: none !important;
  }
</style>
<%- contentFor('scripts') %>
<script>
  document.getElementById("editor").innerHTML =
    document.getElementById("body").innerText;

  const codes = document.querySelectorAll("#editor code");
  codes.forEach((code) => {
    code.parentNode.innerHTML = code.innerText;
  });

  document.getElementById('btnSave').addEventListener('click', () => {
    const user = document.getElementById('user');
    if (!user.value) {
      const alert = document.querySelector('#alert-login');
      alert.classList.remove('hidden');
      setTimeout(() => {
        alert.classList.add('hidden');
      }, 5000);
    } else {
      const news = document.getElementById('news').value;
      const icon = document.getElementById('btnSave').children[0];
      let action;
      if (icon.classList.contains('fa-regular')) {
        icon.classList.remove('fa-regular')
        icon.classList.add('fa-solid')
        action = 1;
      } else {
        icon.classList.remove('fa-solid')
        icon.classList.add('fa-regular')
        action = 0;
      }

      const url = `/api/news/${news}/saved`;
      // console.log({url});

      fetch(url, {
        method: 'POST',
        body: JSON.stringify({action}),
        headers:{ 'Content-Type': 'application/json'}
      })
        .then(data=> data.json())
        .then(data => console.log({data}))
    }
  });
</script>
<script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>
<script async src="//www.instagram.com/embed.js"></script>
<!-- <script src="/panel/js/ckeditor.js"></script>
<script>
  DecoupledDocumentEditor.create(document.querySelector("#editor"))
    .then((editor) => {
      editor.enableReadOnlyMode("#editor");
    })
    .catch((error) => {
      console.log(error);
    });
</script> -->
