<%- contentFor('title') %> Pagina no encontrada
<%- contentFor('header-title') %> Pagina no encontrada
<%- contentFor('body') %>
<p>La pagina solicitada no existe, por favor verifica la URL o ponte en contacto con el administrador</p>
<a href="/panel" class="btn btn-primary">Ir al panel de inicio</a>