<nav
  class="bg-white border-gray-200 px-2 md:px-4 py-2.5 dark:bg-gray-900 border-b dark:border-gray-800"
>
  <div
    class="flex flex-wrap justify-start items-center mx-auto max-w-screen-xl gap-x-10"
  >
    <a
      href="/"
      class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
    >
      <%= _title %>
    </a>
    <div class="flex items-center md:order-2 ml-auto">
      <button
        id="theme-toggle"
        type="button"
        class="hover:bg-gray-100 focus:ring-2 focus:outline-none focus:ring-gray-200 font-medium rounded-lg text-sm px-2 py-2.5 text-center inline-flex items-center dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      >
        <span class="hidden w-5 h-5" id="theme-toggle-dark-icon">
          <i class="fa-solid fa-moon"></i>
        </span>

        <span class="hidden w-5 h-5" id="theme-toggle-light-icon">
          <i class="fa-solid fa-sun"></i>
        </span>
      </button>
      <div>
        <button
          id="dropdownLeftStartButton"
          data-dropdown-toggle="dropdownLeftStart"
          data-dropdown-placement="left-start"
          class="hover:bg-gray-100 focus:ring-2 focus:outline-none focus:ring-gray-200 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          type="button"
        >
          <% if (_user) { %>
          <i class="fa-solid fa-user-check"></i>
          <% } else { %>
          <i class="fa-solid fa-user"></i>
          <% } %>
        </button>

        <!-- Dropdown menu -->
        <div
          id="dropdownLeftStart"
          class="hidden z-10 bg-white dark:bg-gray-700 rounded divide-y divide-gray-100 shadow border"
        >
          <% if (!_user) { %>
          <ul class="py-1 text-sm divide-y" aria-labelledby="dropdownDefault">
            <li>
              <a
                href="/auth/login<%= _.getPathname(current_url) %>"
                class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600"
                >Iniciar sesion</a
              >
            </li>
            <li>
              <a
                href="/auth/register<%= _.getPathname(current_url) %>"
                class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600"
                >Registrarme</a
              >
            </li>
          </ul>
          <% } else { %>
          <div class="divide-y">
            <p class="py-4 px-4 font-semibold">Nicolas Chaima</p>

            <ul
              class="py-1 text-sm w-40 pb-2"
              aria-labelledby="dropdownDefault"
            >
              <li>
                <a
                  href="/auth/login"
                  class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600"
                  >Noticias guardadas</a
                >
              </li>
              <% if (_user.Role.description !== 'USER_ROLE') { %>
                <% } %>
              <li>
                <a
                  href="/panel"
                  class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600"
                  >Ir al panel</a
                >
              </li>
            </ul>
            <form action="/auth/logout" method="post">
              <button
                type="submit"
                class="text-sm block py-3 px-4 text-red-500 hover:text-red-300"
              >
                Cerrar sesion
              </button>
            </form>
          </div>
          <% } %>
        </div>
      </div>
      <button
        class="hover:bg-gray-100 focus:ring-2 focus:outline-none focus:ring-gray-200 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        type="button"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>

      <button
        data-collapse-toggle="mega-menu"
        type="button"
        class="inline-flex items-center p-2 ml-1 text-sm rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="mega-menu"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          aria-hidden="true"
          class="w-6 h-6"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
    <div
      id="mega-menu"
      class="hidden justify-between items-center w-full text-sm md:flex md:w-auto md:order-1"
    >
      <ul
        class="flex flex-col mt-4 font-medium md:flex-row md:space-x-8 md:mt-0"
      >
        <li>
          <a
            href="/"
            class="block py-2 pr-4 pl-3 text-blue-600 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-blue-500 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700"
            aria-current="page"
            >Inicio</a
          >
        </li>
        <li>
          <button
            id="mega-menu-dropdown-button"
            data-dropdown-toggle="mega-menu-dropdown"
            class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium text-gray-700 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700"
          >
            Categorias
            <i class="fa-solid fa-angle-down ml-1"></i>
          </button>
          <div
            id="mega-menu-dropdown"
            class="absolute z-10 w-auto text-sm bg-white rounded-lg border border-gray-100 shadow-md dark:border-gray-700 dark:bg-gray-700 hidden"
            data-popper-reference-hidden=""
            data-popper-escaped=""
            data-popper-placement="bottom"
            style="
              position: absolute;
              inset: 0px auto auto 0px;
              margin: 0px;
              transform: translate3d(0px, 10px, 0px);
            "
          >
            <div class="p-4">
              <ul class="grid grid-cols-4 gap-4">
                <li>
                  <a
                    href="#"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500"
                  >
                    About Us
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500"
                  >
                    About Us
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500"
                  >
                    About Us
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500"
                  >
                    About Us
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500"
                  >
                    About Us
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500"
                  >
                    About Us
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500"
                  >
                    About Us
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500"
                  >
                    About Us
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  var themeToggleDarkIcon = document.getElementById("theme-toggle-dark-icon");
  var themeToggleLightIcon = document.getElementById("theme-toggle-light-icon");

  console.log({
    themeToggleDarkIcon: themeToggleDarkIcon,
    themeToggleLightIcon: themeToggleLightIcon,
  });

  // Change the icons inside the button based on previous settings
  if (
    localStorage.getItem("color-theme") === "dark" ||
    (!("color-theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    themeToggleLightIcon.classList.remove("hidden");
  } else {
    themeToggleDarkIcon.classList.remove("hidden");
  }

  var themeToggleBtn = document.getElementById("theme-toggle");

  themeToggleBtn.addEventListener("click", function () {
    // toggle icons inside button
    themeToggleDarkIcon.classList.toggle("hidden");
    themeToggleLightIcon.classList.toggle("hidden");

    // if set via local storage previously
    if (localStorage.getItem("color-theme")) {
      if (localStorage.getItem("color-theme") === "light") {
        document.documentElement.classList.add("dark");
        localStorage.setItem("color-theme", "dark");
      } else {
        document.documentElement.classList.remove("dark");
        localStorage.setItem("color-theme", "light");
      }

      // if NOT set via local storage previously
    } else {
      if (document.documentElement.classList.contains("dark")) {
        document.documentElement.classList.remove("dark");
        localStorage.setItem("color-theme", "light");
      } else {
        document.documentElement.classList.add("dark");
        localStorage.setItem("color-theme", "dark");
      }
    }
  });
</script>
