<%- contentFor('body') %>
<h1 class="text-center text-3xl font-semibold mt-20">Noticia no encontrada</h1>
<p class="text-center mt-5">
  La noticia que buscas no existe o ha sido eliminada
</p>
<div class="flex mt-3">
  <a href="/"
    class="mx-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    <i class="fa-solid fa-house mr-2"></i>
    Ir al inicio
  </a>
</div>
<div class="pt-32">
  <%- include('../partials/newsList.ejs', {category: {name: 'Ultimas noticias',
  News: _lastNews}}) %>
</div>
