<div class="flex flex-col space-y-2 divide-y">
  <a href="/" class="pb-6">
    <img src="https://imagenes.20minutos.es/files/image_990_v3/uploads/imagenes/2022/07/20/presidente-de-rusia-vladimir-putin.jpeg" alt="">
    <div class="mt-2">
      <h3 class="font-bold text-xl">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem
        repellendus.
      </h3>
      <p class="mt-2 text-gray-500 dark:text-gray-300 text-sm">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dolor esse
        maxime enim! Maiores saepe molestiae magni eligendi?
      </p>
    </div>
  </a>
  <div class="divide-y">
    <a href="/" class="flex items-center gap-3 py-3">
      <div class="w-40">
        <img
          src="https://imagenes.20minutos.es/files/image_990_v3/uploads/imagenes/2022/07/20/presidente-de-rusia-vladimir-putin.jpeg"
          alt=""
          class="w-full"
          style="aspect-ratio: 16/9"
        />
      </div>
      <div class="">
        <span class="text-gray-400 text-sm font-medium"> Jul 27, 2022 </span>
        <p class="text-sm font-semibold leading-4">
          The top 10 Best Computer Speakers in the Market
        </p>
      </div>
    </a>
    <a href="/" class="flex items-center gap-3 py-3">
      <div class="w-40">
        <img
          src="https://imagenes.20minutos.es/files/image_990_v3/uploads/imagenes/2022/07/20/presidente-de-rusia-vladimir-putin.jpeg"
          alt=""
          class="w-full"
          style="aspect-ratio: 16/9"
        />
      </div>
      <div class="">
        <span class="text-gray-400 text-sm font-medium"> Jul 27, 2022 </span>
        <p class="text-sm font-semibold leading-4">
          The top 10 Best Computer Speakers in the Market
        </p>
      </div>
    </a>
    <a href="/" class="flex items-center gap-3 py-3">
      <div class="w-40">
        <img
          src="https://imagenes.20minutos.es/files/image_990_v3/uploads/imagenes/2022/07/20/presidente-de-rusia-vladimir-putin.jpeg"
          alt=""
          class="w-full"
          style="aspect-ratio: 16/9"
        />
      </div>
      <div class="">
        <span class="text-gray-400 text-sm font-medium"> Jul 27, 2022 </span>
        <p class="text-sm font-semibold leading-4">
          The top 10 Best Computer Speakers in the Market
        </p>
      </div>
    </a>
    <a href="/" class="flex items-center gap-3 py-3">
      <div class="w-40">
        <img
          src="https://imagenes.20minutos.es/files/image_990_v3/uploads/imagenes/2022/07/20/presidente-de-rusia-vladimir-putin.jpeg"
          alt=""
          class="w-full"
          style="aspect-ratio: 16/9"
        />
      </div>
      <div class="">
        <span class="text-gray-400 text-sm font-medium"> Jul 27, 2022 </span>
        <p class="text-sm font-semibold leading-4">
          The top 10 Best Computer Speakers in the Market
        </p>
      </div>
    </a>
 
  </div>
</div>
