<div class="flex flex-col space-y-2 divide-y dark:divide-gray-800">
  <div class="grid grid-cols-2 gap-4 pb-4">
    <% [...highlights.slice(0, 2)].map(highlight => { %>
    <a href="/news/<%= highlight.News.slug %>" class="pb-6">
      <img src="<%= highlight.News.imageUrl%>" alt="<%= highlight.News.title %>" class="border dark:border-gray-800" />
      <div class="mt-2">
        <h3 class="font-bold text-xl"><%= highlight.News.title %></h3>
        <p class="mt-2 text-gray-500 dark:text-gray-300 text-sm">
          <%= highlight.News.excerpt %>
        </p>
      </div>
    </a>
    <% }) %>
  </div>
  <div class="grid grid-cols-2 divide gap-x-4 pt-5 dark:divide-gray-800">
    <% [...highlights.slice(2, highlights.length)].map(highlight => { %>
    <a href="/news/<%= highlight.News.slug %>" class="flex items-start gap-3 py-3">
      <div class="w-40 shrink-0">
        <img
          src="<%= highlight.News.imageUrl%>"
          alt="<%= highlight.News.title %>"
          class="w-full border dark:border-gray-800"
          style="aspect-ratio: 16/9"
        />
      </div>
      <div class="mt-[-5px]">
        <span class="text-gray-400 text-sm font-medium"> <%= _.moment(highlight.News.createdAt, 'MMM D, YYYY') %> </span>
        <p class="text-sm font-semibold leading-4">
          <%= highlight.News.title %>
        </p>
      </div>
    </a>
    <% }) %>
  </div>
</div>
