<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/" class="brand-link d-flex align-items-center">
    <img
      src="/favicon/favicon-32x32.png"
      alt="AdminLTE Logo"
      class="brand-image elevation-3"
      style="opacity: 0.8; width: 28px; height: 28px; margin-left: 15px"
    />
    <span class="brand-text font-weight-light text-uppercase"><%= _title %></span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-1 pb-1 mb-1">
      <div class="d-flex align-items-center">
        <div class="image">
          <i
            class="fas fa-user text-white pl-2 pr-1"
            style="font-size: 20px"
          ></i>
        </div>
        <div class="info text-white brand-text">
          <p class="m-0 d-inline-block text-truncate" style="max-width: 180px">
            <%= _user.name %>
          </p>
          <span
            class="text-xs d-block font-weight-light"
            style="margin-top: -9px"
            ><%= _user.Role.description %></span
          >
        </div>
      </div>
    </div>

    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a
            href="/panel"
            class="nav-link <%= _.isActiveUrl(current_url, '/panel/') && 'active' %>"
          >
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li
          class="nav-item <%= _.isActiveUrl(current_url, '/panel/users/*') && 'menu-open' %>"
        >
          <a
            href="#"
            class="nav-link <%= _.isActiveUrl(current_url, '/panel/users/*') && 'active' %>"
          >
            <i class="nav-icon fas fa-users"></i>
            <p>
              Usuarios
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                href="/panel/users"
                class="nav-link <%= _.isActiveUrl(current_url, '/panel/users') && 'active' %>"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Ver usuarios</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="/panel/users/create"
                class="nav-link <%= _.isActiveUrl(current_url, '/panel/users/create') && 'active' %>"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Agregar usuario</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="/panel/users/clients"
                class="nav-link <%= _.isActiveUrl(current_url, '/panel/users/clients') && 'active' %>"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Ver clientes</p>
              </a>
            </li>
          </ul>
        </li>
        <li
          class="nav-item <%= _.isActiveUrl(current_url, '/panel/roles/*') && 'menu-open' %>"
        >
          <a
            href="#"
            class="nav-link <%= _.isActiveUrl(current_url, '/panel/roles/*') && 'active' %>"
          >
            <i class="nav-icon fas fa-user-tag"></i>
            <p>
              Roles
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                href="/panel/roles/"
                class="nav-link <%= _.isActiveUrl(current_url, '/panel/roles') && 'active' %>"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Ver roles</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="/panel/roles/create"
                class="nav-link <%= _.isActiveUrl(current_url, '/panel/roles/create') && 'active' %>"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Agregar rol</p>
              </a>
            </li>
          </ul>
        </li>
        <li
          class="nav-item <%= _.isActiveUrl(current_url, '/panel/categories/*') && 'menu-open' %>"
        >
          <a
            href="#"
            class="nav-link <%= _.isActiveUrl(current_url, '/panel/categories/*') && 'active' %>"
          >
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Categorias
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                href="/panel/categories"
                class="nav-link <%= _.isActiveUrl(current_url, '/panel/categories') && 'active' %>"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Ver categorias</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="/panel/categories/create"
                class="nav-link <%= _.isActiveUrl(current_url, '/panel/categories/create') && 'active' %>"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Agregar categoria</p>
              </a>
            </li>
          </ul>
        </li>
        <li
          class="nav-item <%= _.isActiveUrl(current_url, '/panel/tags/*') && 'menu-open' %>"
        >
          <a
            href="#"
            class="nav-link <%= _.isActiveUrl(current_url, '/panel/tags/*') && 'active' %>"
          >
            <i class="nav-icon fas fa-tags"></i>
            <p>
              Etiquetas
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                href="/panel/tags"
                class="nav-link <%= _.isActiveUrl(current_url, '/panel/tags') && 'active' %>"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Ver etiquetas</p>
              </a>
            </li>
          </ul>
        </li>
        <li
          class="nav-item <%= _.isActiveUrl(current_url, '/panel/news/*') && 'menu-open' %>"
        >
          <a
            href="#"
            class="nav-link <%= _.isActiveUrl(current_url, '/panel/news/*') && 'active' %>"
          >
            <i class="nav-icon fas fa-newspaper"></i>
            <p>
              Noticias
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                href="/panel/news"
                class="nav-link <%= _.isActiveUrl(current_url, '/panel/news') && 'active' %>"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Ver noticias</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="/panel/news/me"
                class="nav-link <%= _.isActiveUrl(current_url, '/panel/news/me') && 'active' %>"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Ver mis noticias</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="/panel/news/create"
                class="nav-link <%= _.isActiveUrl(current_url, '/panel/news/create') && 'active' %>"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Agregar noticia</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="/panel/news/verify"
                class="nav-link <%= _.isActiveUrl(current_url, '/panel/news/verify') && 'active' %>"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Verificar noticias</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
