<%- contentFor('body') %>
<div class="grid grid-cols-12 w-full">
  <div class="col-span-12 md:col-span-8 md:col-start-3">
    <h1 class="text-3xl font-bold mx-auto mt-3">Actualizar contraseña</h1>
    <p class="mt-5">Crea una nueva contraseña</p>
    <form
      action="/auth/update-password/<%= by == 'token' ? user.token : user.id %>"
      method="post"
      class="mt-5"
    >
      <input
        type="hidden"
        name="by"
        value="<%= by == 'token' ? 'token' : 'id' %>"
      />
      <div class="mb-6">
        <label
          for="password"
          class="<%= errors.password && 'text-red-600 dark:text-red-500' %> block mb-2 text-sm font-medium"
          >Contraseña</label
        >
        <input
          type="password"
          class="<%= errors.password ? 'border-red-500' : 'border-gray-300 dark:border-gray-600' %> border bg-gray-50 dark:bg-gray-700 focus:border-blue-500 dark:focus:border-blue-500 dark:placeholder-gray-400 text-sm rounded-lg block w-full p-2.5"
          name="password"
          value="<%= data.password && data.password %>"
          required
        />
        <% if (errors.password) { %>
        <p class="mt-1 text-sm text-red-600 dark:text-red-500">
          <%= errors.password.message %>
        </p>
        <% } %>
      </div>
      <div class="mb-6">
        <label
          for="password_confirmation"
          class="<%= errors.password_confirmation && 'text-red-600 dark:text-red-500' %> block mb-2 text-sm font-medium"
          >Confirmar contraseña</label
        >
        <input
          type="password"
          class="<%= errors.password_confirmation ? 'border-red-500' : 'border-gray-300 dark:border-gray-600' %> border bg-gray-50 dark:bg-gray-700 focus:border-blue-500 dark:focus:border-blue-500 dark:placeholder-gray-400 text-sm rounded-lg block w-full p-2.5"
          name="password_confirmation"
          required
        />
        <% if (errors.password_confirmation) { %>
        <p class="mt-1 text-sm text-red-600 dark:text-red-500">
          <%= errors.password_confirmation.message %>
        </p>
        <% } %>
      </div>
      <div class="flex justify-between flex-wrap items-center pb-8">
        <button
          type="submit"
          class="text-white text-sm bg-blue-700 hover:bg-blue-800 focus:ring-4 px-7 focus:outline-none focus:ring-blue-300 font-medium rounded-lg w-full sm:w-auto py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Actualizar
        </button>
      </div>
    </form>
  </div>
</div>
